In [1]:
from http.client import REQUESTED_RANGE_NOT_SATISFIABLE
import pandas as pd
from sodapy import Socrata

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [14]:
id_dict = {
    "red light violations": "spqx-js37", "abandoned buildings": "kc9i-wq85",
    "socioeconomic indicators": "kn9c-c2s2", "hardship index": "792q-4jtu",
    "crimes": "ijzp-q8t2", "grocery stores": "4u6w-irs9" }

In [73]:
def pull_data(dataset_id, lim):
    '''
    Given a dataset id, pull out data from Chicago portal API

    Inputs:
      dataset_id: (str) a unique id for one Chicago portal dataset
      limit: (int) number of rows to pull each time, default to None

    Return:
      (Pandas DataFrame) a dataframe pulled from Chicago Portal
    '''
    client = Socrata("data.cityofchicago.org", "goD601SLndI51xcMq1KsnG6np")

    results = client.get(dataset_id, limit = lim)
    return pd.DataFrame.from_records(results)

In [75]:
def gen_tables(id_dictionary, lim):
    dataset_dct = {}
    for dataset_name, url in id_dictionary.items():
        dataset_dct[dataset_name] = pull_data(url, lim)

    return dataset_dct

In [96]:
dct = gen_tables(id_dict, 1000)





#crime_year_count = dct['crimes'].groupby(by=['community_area', "year"]).size().unstack()

#crime_year_count

In [100]:


client = Socrata("data.cityofchicago.org", "goD601SLndI51xcMq1KsnG6np")
results = client.get("ijzp-q8t2", where = f"(primary_type) = 'HOMICIDE'",
                    limit=100000)

crime_df = pd.DataFrame.from_records(results)

In [99]:

crime_df.describe()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
count,11760,11760,11760,11760,11760,11760,11760,11760,11760,11760,...,11380,11380,11760,11758,11758,11760,11760,11758,11758,11758
unique,11760,11271,11505,7275,3,1,3,90,2,2,...,50,77,2,9444,9854,22,907,10727,10726,10727
top,1023,HJ590004,2016-02-04T13:00:00.000,013XX W HASTINGS ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,28,25,01A,1177828,1893853,2021,2019-03-19T16:11:22.000,41.795211551,-87.662687356,"{'latitude': '41.795211551', 'longitude': '-87..."
freq,1,6,6,19,11692,11760,11692,5865,6213,10974,...,779,1007,11692,7,8,808,5539,6,6,6