In [ ]:
import api_collection

api_collection.process_crime("ijzp-q8t2")

In [6]:
gca.get_geo_comm_areas()

,community,area_num,geometry
0,DOUGLAS,35,"MULTIPOLYGON (((-87.60914 41.84469, -87.60915 ..."
1,OAKLAND,36,"MULTIPOLYGON (((-87.59215 41.81693, -87.59231 ..."
2,FULLER PARK,37,"MULTIPOLYGON (((-87.62880 41.80189, -87.62879 ..."
3,GRAND BOULEVARD,38,"MULTIPOLYGON (((-87.60671 41.81681, -87.60670 ..."
4,KENWOOD,39,"MULTIPOLYGON (((-87.59215 41.81693, -87.59215 ..."
...,...,...,...
72,MOUNT GREENWOOD,74,"MULTIPOLYGON (((-87.69646 41.70714, -87.69644 ..."
73,MORGAN PARK,75,"MULTIPOLYGON (((-87.64215 41.68508, -87.64249 ..."
74,OHARE,76,"MULTIPOLYGON (((-87.83658 41.98640, -87.83658 ..."
75,EDGEWATER,77,"MULTIPOLYGON (((-87.65456 41.99817, -87.65456 ..."
76,EDISON PARK,9,"MULTIPOLYGON (((-87.80676 42.00084, -87.80676 ..."

In [3]:
build_dataframes.gca

In [2]:
api_collection.pull_data("spqx-js37", lim = 1000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,intersection,camera_id,address,violation_date,violations,x_coordinate,y_coordinate,latitude,longitude,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu
0,111TH AND HALSTED,2422,11100 S HALSTED ST,2022-02-25T00:00:00.000,10,1172923.657689312,1831209.044179248,41.692263123,-87.642522688,"{'latitude': '41.692263123425136', 'longitude'...",45,21861,74,663,22
1,111TH AND HALSTED,2424,800 W 111TH ST,2022-02-25T00:00:00.000,2,1172945.404219168,1831282.917027882,41.692465363,-87.642440901,"{'latitude': '41.692465363421874', 'longitude'...",45,21861,74,315,22
2,119TH AND HALSTED,2404,800 W 119TH STREET,2022-02-25T00:00:00.000,4,1173111.174088158,1825985.001014405,41.677923389,-87.641989646,"{'latitude': '41.677923389134385', 'longitude'...",45,21861,50,642,22
3,119TH AND HALSTED,2402,11900 S HALSTED,2022-02-25T00:00:00.000,10,1173094.774616191,1825911.054609338,41.677720829,-87.642051845,"{'latitude': '41.67772082924762', 'longitude':...",45,21861,50,662,22
4,31ST ST AND MARTIN LUTHER KING DRIVE,2121,3100 S DR MARTIN L KING,2022-02-25T00:00:00.000,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,WESTERN AND TOUHY,1251,7200 N WESTERN AVENUE,2022-02-22T00:00:00.000,4,1158975.66256211,1947754.286963361,42.012371335,-87.690393917,"{'latitude': '42.012371334791766', 'longitude'...",42,22528,20,359,27
996,111TH AND HALSTED,2422,11100 S HALSTED ST,2022-02-21T00:00:00.000,6,1172923.657689312,1831209.044179248,41.692263123,-87.642522688,"{'latitude': '41.692263123425136', 'longitude'...",45,21861,74,663,22
997,111TH AND HALSTED,2424,800 W 111TH ST,2022-02-21T00:00:00.000,4,1172945.404219168,1831282.917027882,41.692465363,-87.642440901,"{'latitude': '41.692465363421874', 'longitude'...",45,21861,74,315,22
998,119TH AND HALSTED,2402,11900 S HALSTED,2022-02-21T00:00:00.000,4,1173094.774616191,1825911.054609338,41.677720829,-87.642051845,"{'latitude': '41.67772082924762', 'longitude':...",45,21861,50,662,22
999,31ST ST AND MARTIN LUTHER KING DRIVE,2121,3100 S DR MARTIN L KING,2022-02-21T00:00:00.000,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN