In [1]:
import util
import pandas as pd
import build_dataframes
import geo_comm_areas as gca

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "
/home/anth0nyhak1m/.local/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(
/tmp/ipykernel_16757/1699988196.py:3: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  import build_dataframes

In [2]:
comm_areas, build_year_val, build_year_count, demo_year_count, demo_perm_df = build_dataframes.return_marcs_dfs()

In [3]:
build_demo, cgs_data = build_dataframes.merge_dfs()

vac_rate, build_per_demo (this is our index), hispper, whiteper, blackper

In [4]:
cgs_data

,,Average Homicide,Number of Homicides,grocery stores count,liquor stores count,liquor stores percent,percent_of_housing_crowded,hardship_index
area_num,year,,,,,,,
1,2001,4.772727,6.0,NaN,NaN,NaN,NaN,NaN
10,2001,0.409091,0.0,NaN,NaN,NaN,NaN,NaN
11,2001,0.681818,0.0,NaN,NaN,NaN,NaN,NaN
12,2001,0.181818,0.0,NaN,NaN,NaN,NaN,NaN
13,2001,0.636364,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
75,2022,4.045455,0.0,NaN,NaN,NaN,NaN,NaN
76,2022,0.227273,0.0,NaN,NaN,NaN,NaN,NaN
77,2022,2.363636,0.0,NaN,NaN,NaN,NaN,NaN
8,2022,5.181818,1.0,NaN,NaN,NaN,NaN,NaN
9,2022,0.090909,0.0,NaN,NaN,NaN,NaN,NaN

In [7]:


#time_for_pain = build_demo.merge(cgs_data)
#, how = 'left', on =['area_num', 'year'])